@charset "UTF-8";
@import url(sweetalert.css);
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-backface-visibility: hidden; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

table th, table td {
  vertical-align: top; }

fieldset, img {
  border: 0; }

em, strong, b, i {
  font-style: normal;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

body, input, button, textarea {
  font-family: Helvetica, sans-serif; }

a {
  text-decoration: none;
  outline: none;
  color: #fff; }

a:hover {
  cursor: pointer; }

html, body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  position: relative;
  font-size: 10px;
  color: #fff;
  font-family: 微软雅黑; }

ul, ol {
  list-style-type: none; }

ul li, ol li {
  list-style: none; }

* {
  margin: 0;
  padding: 0; }

html, body, .li_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box; }

.li_container {
  background: #9f7893;
  display: flex;
  flex-direction: column; }

/* li_header */
.li_header {
  width: 100%;
  height: 45px;
  position: relative; }
  .li_header h4 {
    text-align: center;
    line-height: 45px;
    color: #fff;
    font-size: 1.9rem;
    font-weight: normal; }
  .li_header a {
    color: #f3d1e8; }
    .li_header a:nth-of-type(1) {
      font-size: 1.7rem;
      position: absolute;
      top: -29%;
      left: 9%;
      margin-top: 25px; }
      .li_header a:nth-of-type(1):after {
        content: '';
        border-top: 3px solid #f3d1e8;
        border-left: 3px solid #f3d1e8;
        transform: rotateZ(-45deg);
        position: absolute;
        left: -35%;
        width: 8px;
        height: 8px;
        top: 28%; }
    .li_header a:nth-of-type(2) {
      font-size: 1.7rem;
      position: absolute;
      top: -26%;
      right: 11%;
      margin-top: 25px; }
  .li_header p {
    width: 18px;
    height: 18px;
    background: #dba759;
    color: #fff;
    position: absolute;
    top: -22%;
    right: 4%;
    margin-top: 25px;
    text-align: center;
    line-height: 18px; }

/* li_section */
.li_section {
  width: 100%;
  height: 100%;
  background: #6a5471;
  overflow-y: scroll;
  flex-grow: 1; }

.li_center {
  width: 100%;
  height: 518px; }
  .li_center .name {
    width: 100%;
    height: 75px; }
    .li_center .name h2 {
      font-size: 2.2rem;
      padding: 0.6rem 1rem; }
    .li_center .name p {
      padding: 0 1rem; }
      .li_center .name p img {
        width: 60px;
        height: 10px; }
      .li_center .name p span:nth-of-type(1) {
        margin-left: 0.7rem; }
      .li_center .name p span:nth-of-type(2) {
        float: right;
        margin-right: 1rem;
        font-size: 1.4rem; }

.description {
  width: 100%; }
  .description .de_img {
    width: 100%;
    height: 200px; }
    .description .de_img img {
      width: 100%;
      height: 100%; }
  .description .de_text {
    width: 100%;
    height: 180px;
    border-bottom: 1px solid #8d6f92; }
    .description .de_text .de_box {
      width: 90%;
      height: 75px;
      padding: 18px 0 8px 0;
      margin: -7px auto; }
      .description .de_text .de_box p {
        margin-right: 5%;
        float: left;
        height: 40px; }
        .description .de_text .de_box p:nth-of-type(1) {
          width: 15%;
          background: #9c7aa0; }
          .description .de_text .de_box p:nth-of-type(1) span {
            font-size: 1.7rem;
            line-height: 40px;
            margin-left: 30%; }
        .description .de_text .de_box p:nth-of-type(2) {
          width: 45%;
          background: #9c7aa0;
          text-align: center;
          line-height: 40px; }
        .description .de_text .de_box p:nth-of-type(3) {
          width: 30%;
          background: #dba759;
          margin-right: 0;
          text-align: center;
          line-height: 40px; }
    .description .de_text .de_text_word {
      color: #f3d1e8;
      width: 90%;
      margin: 0 auto;
      font-size: 1.3rem; }

.de_list {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #8d6f92;
  position: relative; }
  .de_list p {
    line-height: 45px;
    margin-left: 5%;
    color: #fff; }
    .de_list p span {
      float: right;
      margin-right: 5%;
      width: 14px;
      height: 8px;
      position: relative; }
      .de_list p span img {
        width: 100%;
        height: 100%; }
      .de_list p span .down {
        position: absolute;
        top: 50%;
        margin-top: 15px; }
  .de_list .up_arrow {
    width: 14px;
    height: 8px;
    position: absolute;
    top: 2%;
    right: 5%;
    display: none; }
    .de_list .up_arrow img {
      width: 100%;
      height: 100%; }

.li_table {
  width: 100%;
  height: 290px;
  display: none; }
  .li_table p {
    font-size: 1.3rem; }
    .li_table p:nth-of-type(1) {
      height: 45px;
      line-height: 45px;
      margin-left: 5%;
      color: #fff; }
    .li_table p:nth-of-type(2) {
      height: 38px;
      width: 100%;
      color: #b7a2bd;
      background: #40314e;
      line-height: 38px; }
      .li_table p:nth-of-type(2) span {
        width: 50%;
        height: 38px;
        display: inline-block;
        border-right: 1px solid #554260;
        text-align: center; }
    .li_table p:nth-of-type(3) {
      height: 60px;
      width: 100%;
      position: relative; }
      .li_table p:nth-of-type(3) .sortText {
        width: 50%;
        height: 60px;
        display: inline-block;
        border-right: 1px solid #554260;
        text-align: center;
        line-height: 60px; }
      .li_table p:nth-of-type(3) .longTxt {
        position: absolute;
        right: 0px;
        top: 10px;
        width: 50%;
        height: 60px;
        display: inline-block;
        border-right: 1px solid #554260;
        text-align: center; }
    .li_table p:nth-of-type(4) {
      height: 60px;
      width: 100%;
      color: #b7a2bd;
      background: #40314e;
      position: relative; }
      .li_table p:nth-of-type(4) .sortText {
        width: 50%;
        height: 60px;
        display: inline-block;
        border-right: 1px solid #554260;
        text-align: center;
        line-height: 60px; }
      .li_table p:nth-of-type(4) .longTxt {
        position: absolute;
        right: 0px;
        top: 10px;
        width: 50%;
        height: 60px;
        display: inline-block;
        border-right: 1px solid #554260;
        text-align: center; }
    .li_table p:nth-of-type(5) {
      height: 47px;
      width: 100%;
      line-height: 47px; }
      .li_table p:nth-of-type(5) span {
        width: 50%;
        height: 47px;
        display: inline-block;
        text-align: center; }
    .li_table p:nth-of-type(6) {
      height: 35px;
      width: 100%;
      line-height: 35px;
      border-bottom: 1px solid #554260;
      color: #b7a2bd;
      background: #40314e; }
      .li_table p:nth-of-type(6) span {
        width: 50%;
        height: 35px;
        display: inline-block;
        border-right: 1px solid #554260;
        text-align: center; }

.on {
  color: red; }

.show {
  display: block; }

/*# sourceMappingURL=basement_detail.css.map */
